{% extends "base.html" %}

{% block content %}
  <main>
    <!-- Contents of `_index.md` -->
    <div class="posts-content">
      {{ section.content | safe }}
    </div>

    <!-- List of blog posts, by year -->
    {% set blog = get_section(path="blog/_index.md") %}
    <ul class="posts">
      {% for year, posts_that_year in blog.pages | group_by(attribute="year") %}
        <h2 class="posts__title">Posts in {{ year }}</h2>
        <ul class="posts__year">
          {% for post in posts_that_year %}
            <li class="post">
              <p class="post__date">{{ post.date | date(format="%-d %b") }}</p>
              <a href="{{ post.permalink }}" class="post__link">
                {{ post.title | markdown(inline=true) | safe }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
  </main>
{% endblock %}
